<div class="clients-container">
    <div class="header">
        <h1>Movimientos</h1>
        <button class="new-button" (click)="openModal()">Nuevo</button>
    </div>

    <input type="text" class="search-box" placeholder="Buscar" [(ngModel)]="searchTerm" />

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th>Saldo Inicial</th>
                    <th>Saldo Final</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th># Cuenta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tx of filteredTransactions">
                    <td>{{ tx.id }}</td>
                    <td>{{ tx.transactionType == 'DEPOSIT' ? '+' : '-' }}</td>
                    <td>{{ tx.amount | currency: 'USD' }}</td>
                    <td>{{ tx.initialBalance | currency: 'USD' }}</td>
                    <td>{{ tx.finalBalance | currency: 'USD' }}</td>
                    <td>{{ tx.date }}</td>
                    <td>{{ tx.time }}</td>
                    <td>{{ tx.account.accountNumber }}</td>
                    <td>
                        <button (click)="deleteTransaction(tx)" title="Eliminar">🗑️</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="table-row empty" *ngIf="filteredTransactions.length === 0">
            No se encontraron movimientos.
        </div>
    </div>


    <!-- Modal -->
    <div class="modal-backdrop" *ngIf="showModal">
        <div class="modal">
            <h2>Nueva Cuenta</h2>

            <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
                <label>Tipo 
                    <select formControlName="transactionType">
                        <option *ngFor="let type of transactionTypes" [value]="type">{{type}}</option>
                    </select>
                </label>

                <label>Monto
                    <input formControlName="amount" />
                    <div *ngIf="amount?.invalid && (amount?.touched || amount?.dirty || formSubmitted)" class="error">
                        <small class="text-red" *ngIf="amount?.errors?.['required']">Mount is required.</small>
                        <small class="text-red" *ngIf="amount?.errors?.['minlength']">Ivalid mount.</small>
                    </div>
                </label>

                <label># Cuenta
                    <input formControlName="accountNumber" />
                    <div *ngIf="accountNumber?.invalid && (accountNumber?.touched || accountNumber?.dirty || formSubmitted)" class="error">
                        <small class="text-red" *ngIf="accountNumber?.errors?.['required']">Client Identification is required.</small>
                        <small class="text-red" *ngIf="accountNumber?.errors?.['minlength']">Minimum entry 6 characters.</small>
                    </div>
                </label>

                <div class="modal-actions">
                    <button type="submit" [disabled]="transactionForm.invalid">Guardar</button>
                    <button type="button" (click)="closeModal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>